* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 2em;
  text-align: center;
  line-height: 1.5;
  background-color: #211d2b;
  background-image: radial-gradient(#23202b,#2e191f);
  color: white;
}

.navbar {
  margin-bottom: 1em;
  display: flex;
  align-items: flex-start;
  font-size: 2em;
}

img {
  width: 10rem;
}

form {
  margin: 0 auto;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  width: 20em;
}

input,
button,
textarea {
  padding: 0.5em;
  border: 1px solid white;
  margin-bottom: 2em;
  border-radius:  0.5em;
  font: inherit;
}

input {
  background-color: white;
}

input:focus, textarea:focus {
  outline: none;
}

input::placeholder, textarea::placeholder {
  color: #6c6d6e;
  text-align: center;
}

textarea {
  resize: none;
}

button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 0.5em 1em;
  width: fit-content;
  align-self: center;
}

button:hover {
  background-color: white;
  color: #282c34;
}

.divider {
  margin: 0 auto;
  margin-bottom: 3em;
  background-color: rgb(137, 135, 135);
  box-shadow: 1px 1px 10px rgb(210, 206, 206);
  height: 1px;
  width: 90%;
}

.notes-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
}

.notes-item {
  margin: 1em;
  padding: 0.7em;
  width: 15em; 
  height: 12em; 
  box-shadow: 1px 1px 8px rgb(210, 206, 206);
  color: white;
  position: relative;
}

.note-header {
  margin-top: 0;
}

.note-content {
  margin-top: 0;
  text-overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.note-delete-button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  border: none;
  display: flex;
}

.note-delete-button:hover {
  background-color: transparent;
  color: white;
  transform: scale(1.4);
}

.footer {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  bottom: 0;
  right: 0;
  background-image: url("../public/stars.png");
  background-position: top center;
}